@keyframes tracking-in-contract-bck-bottom {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px) translateY(300px);
		transform: translateZ(400px) translateY(300px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1;
	}
}

@keyframes slide-down {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
	}
}

@keyframes insert {
	0% {
		transform: scale(1) translateY(0);
	}
	40% {
		transform: scale(var(--scale-factor)) translateY(0);
	}
	90% {
		transform: scale(var(--scale-factor)) translateY(calc(var(--y-distance) / var(--scale-factor)));
	}
	100% {
		transform: scale(var(--scale-factor)) translateY(calc(calc(var(--y-distance) / var(--scale-factor) + 10vh)));
	}
}

/* @keyframes insert {
	0% {
		transform: scale(var(--scale-factor)) translateY(0);
	}
	90% {
		transform: scale(var(--scale-factor)) translateY(calc(var(--y-distance) / var(--scale-factor)));
	}
	100% {
		transform: scale(var(--scale-factor)) translateY(calc(calc(var(--y-distance) / var(--scale-factor) + 15rem)));
	}
} */

@keyframes bounce-in-top {
	0% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateY(-65px);
		transform: translateY(-65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(0);
	}
	100% {
		opacity: 1;
		transform: translateY(-20rem);
	}
}

@keyframes fade-left {
	0% {
		opacity: 0;
		transform: translateX(30vh);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes power-screen {
	0% {
		background: #3f3c3c;
	}
	100% {
		background: #858383;
	}
}

@keyframes wobble {
	0% {
		transform: translate(-50%, -50%) skewX(2deg) scale(1, 1);
	}
	25% {
		transform: translate(-50%, -50%) skewX(-2deg) scale(1.02, 0.98);
	}
	50% {
		transform: translate(-50%, -50%) skewX(3deg) scale(0.98, 1.02);
	}
	75% {
		transform: translate(-50%, -50%) skewX(-3deg) scale(1.03, 0.97);
	}
	100% {
		transform: translate(-50%, -50%) skewX(2deg) scale(1, 1);
	}
}

@keyframes float {
	0% {
		right: 5%;
		bottom: 48%;
	}
	50% {
		right: 6%;
		bottom: 50%;
	}
	100% {
		right: 5%;
		bottom: 48%;
	}
}

@keyframes card-fade-up {
	0% {
		opacity: 0;
		transform: translateY(3rem) scale(0.2);
	}
	100% {
		opacity: 1;
		transform: translateY(0) scale(0.2);
	}
}

/* @keyframes section-fade-up {
	0% {
		opacity: 0;
		transform: translateY(120vh);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
} */

@keyframes section-fade-up {
	0% {
		opacity: 0;
		height: 0;
		width: 0;
	}
	100% {
		opacity: 1;
		height: 90vh;
		width: 90vw;
		border: 2px solid black;
	}
}

@keyframes section-fade-down {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(110vh);
	}
}
