@keyframes tracking-in-contract-bck-bottom {
	0% {
		letter-spacing: 1em;
		-webkit-transform: translateZ(400px) translateY(300px);
		transform: translateZ(400px) translateY(300px);
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		-webkit-transform: translateZ(0) translateY(0);
		transform: translateZ(0) translateY(0);
		opacity: 1;
	}
}

@keyframes slide-down {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(5px);
		transform: translateY(5px);
	}
}

@keyframes insert {
	0% {
		transform: scale(0.2) translateY(0);
	}
	50% {
		transform: scale(0.2) translateY(calc(calc(var(--y-distance) / 0.2) - 10rem));
	}
	87% {
		transform: scale(0.2) translateY(calc(calc(var(--y-distance) / 0.2) - 20rem));
	}
	90% {
		transform: scale(0.2) translateY(calc(calc(var(--y-distance) / 0.2) - 20rem));
	}
	100% {
		transform: scale(0.2) translateY(calc(var(--y-distance) / 0.2));
	}
}

@keyframes bounce-in-top {
	0% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateY(-65px);
		transform: translateY(-65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(30vh);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-left {
	0% {
		opacity: 0;
		transform: translateX(30vh);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes power-screen {
	0% {
		background: #3f3c3c;
	}
	100% {
		background: #858383;
	}
}

@keyframes wobble {
	0% {
		transform: rotate3d(1, 3, 1, 70deg) skewX(2deg) scale(1, 1);
	}
	25% {
		transform: rotate3d(1, 3, 1, 70deg) skewX(-2deg) scale(1.02, 0.98);
	}
	50% {
		transform: rotate3d(1, 3, 1, 70deg) skewX(3deg) scale(0.98, 1.02);
	}
	75% {
		transform: rotate3d(1, 3, 1, 70deg) skewX(-3deg) scale(1.03, 0.97);
	}
	100% {
		transform: rotate3d(1, 3, 1, 70deg) skewX(2deg) scale(1, 1);
	}
}
