@import "./animations.css";

.main-title {
	font-weight: bold;
	--text: #ffff00;
	--shadow: #ff0000;
	-webkit-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
	animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
	color: #ffff00;
	text-shadow:
		0px 12px var(--shadow),
		0px 11.75px var(--shadow),
		0px 11.5px var(--shadow),
		0px 11.25px var(--shadow),
		0px 11px var(--shadow),
		0px 10.75px var(--shadow),
		0px 10.5px var(--shadow),
		0px 10.25px var(--shadow),
		0px 10px var(--shadow),
		0px 9.75px var(--shadow),
		0px 9.5px var(--shadow),
		0px 9.25px var(--shadow),
		0px 9px var(--shadow),
		0px 8.75px var(--shadow),
		0px 8.5px var(--shadow),
		0px 8.25px var(--shadow),
		0px 8px var(--shadow),
		0px 7.75px var(--shadow),
		0px 7.5px var(--shadow),
		0px 7.25px var(--shadow),
		0px 7px var(--shadow),
		0px 6.75px var(--shadow),
		0px 6.5px var(--shadow),
		0px 6.25px var(--shadow),
		0px 6px var(--shadow),
		0px 5.75px var(--shadow),
		0px 5.5px var(--shadow),
		0px 5.25px var(--shadow),
		0px 5px var(--shadow),
		0px 4.75px var(--shadow),
		0px 4.5px var(--shadow),
		0px 4.25px var(--shadow),
		0px 4px var(--shadow),
		0px 3.75px var(--shadow),
		0px 3.5px var(--shadow),
		0px 3.25px var(--shadow),
		0px 3px var(--shadow),
		0px 2.75px var(--shadow),
		0px 2.5px var(--shadow),
		0px 2.25px var(--shadow),
		0px 2px var(--shadow),
		0px 1.75px var(--shadow),
		0px 1.5px var(--shadow),
		0px 1.25px var(--shadow),
		0px 1px var(--shadow),
		0px 0.75px var(--shadow),
		0px 0.5px var(--shadow),
		0px 0.25px var(--shadow);
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.underline-text {
	position: relative;
  
	&::after {
	  content: "";
	  position: absolute;
	  left: 50%;
	  bottom: 0;
	  height: 2px;
	  width: 0;
	  background-color: red;
	  transition: all 0.3s ease-in-out 1.1s;
	}
  
	&.loaded {
		opacity: 1;
		animation: bounce-in-top 1s ease-in-out both 0.2s;

		&::after {
			left: 0;
			width: 100%;
		}
	}
  }
  

.subtitle{
	font-size: 4rem;
	color: var(--color-gray-4);
}

#cartridge-cards-container {
	&::-webkit-scrollbar {
		display: none;
	}
}

.cartridge-cards {
	--stack-width: 30rem;
	--card-width: 50rem;
	--gap: 10rem;

	height: 30rem;
	gap: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	transform-origin: center;
	box-sizing: border-box;
	overflow: visible;
	top: var(--gap);
	width: var(--stack-width);

	//클릭 이벤트 진행 중에는 모든 카드의 마우스 이벤트를 차단
	&:has(.clicked) {
		.card:not(.clicked) {
			pointer-events: none !important;
		}

		&.spread {
			transition: left 0.3s ease-out 0.1s;
		}
	}

	&.spread {
		width: calc(var(--stack-width) * 2);
		left: calc(var(--stack-width) + var(--gap));
		justify-content: start;

		> .card {
			filter: brightness(100%);

			&.card-4 {
				/* 카드 너비 --card-lg에서 이동할 1rem을 더한 값 */
				left: calc(-100% + calc(var(--card-width) / 2 + var(--gap)));
			}

			&.card-3 {
				left: calc(-100% + calc((var(--card-width) * 2)) - calc(var(--gap) * 3));
			}

			&.card-2 {
				left: calc(-100% + calc((var(--card-width) * 3)) - calc(var(--gap) * 4));
			}

			&.card-1 {
				left: -100%;
			}

			&:nth-child(2n + 1) {
				top: 2rem;
			}
		}
	}

	> .card {
		cursor: pointer;
		transition:
			left 0.5s ease-in-out,
			filter 0.3s ease 0.1s;
		position: absolute;
		filter: brightness(80%);

		&.card-4 {
			transform: rotate(-3deg);
			left: -2rem;
			top: 1rem;
			// border: 5px solid blue;
		}

		&.card-3 {
			transform: rotate(2deg);
			left: 2rem;
			top: -1rem;
			// border: 5px solid orange;
		}

		/* 킥을 위해 2번째 카드는 강한 회전값 */
		&.card-2 {
			transform: rotate(-4deg);
			left: 3rem;
			top: -2rem;
			// border: 5px solid green;
		}

		/* 첫번째 카드는 음영 효과 x */
		&.card-1 {
			transform: rotate(-1deg);
			left: 1rem;
			top: 0rem;
			filter: brightness(100%);
			// border: 5px solid red;
		}

		&.selected {
			transition:
				top 0.5s ease-in-out,
				transform 0.3s ease-in-out 0.1s;
			top: -7rem !important;
			transform: rotate(0deg);
		}

		&.clicked {
			filter: brightness(100%);
			transition:
				transform 0.8s ease-in-out 0.5s,
				top 0.4s ease-in-out;
			transform: scale(0.2);
			top: -11rem !important;
			//animation: insert 1.5s ease-in-out 0.2s forwards;
			// transition:
			// 	left 0.5s ease-in-out,
			// 	top 0.5s ease-in-out,
			// 	transform 0.3s ease-in-out 0.1s;
			// //left: calc((var(--stack-width) * -1)) !important;
			// z-index: 99;
			// filter: brightness(100%);
			// transform: scale(0.2);
			// //animation: insert 1.5s ease-in-out 0.2s forwards;
		}
	}
}

.mini-card {
	position: relative;
	top: -70rem;
}

.cartridge-container {
	--gray-0: #f0f0f0;
	--gray-0-rgb: 240, 240, 240;
	--gray-1: #b0acb4;
	--gray-2: #858386;
	--gray-3: #615f63;
	--gray-3-rgb: 97, 95, 99;
	--gray-4: rgb(46, 46, 46);

	width: 30vw;
	min-width: 30rem;
	max-width: 40rem;
	height: calc(30vw * (22 / 18));
	min-height: calc(30rem * (22 / 18));
	max-height: calc(40rem * (22 / 18));
	flex-shrink: 0;
	filter: drop-shadow(2px 1px 7px rgba(66, 66, 66, 0.7));

	@media screen and (max-width: 640px) {
		width: 18rem;
		height: calc(18rem * (22 / 18));
		min-width: auto;
		min-height: auto;
	}

	@media screen and (min-width: 641px) and (max-width: 1024px) {
		width: 30rem;
		height: calc(30rem * (22 / 18));
		min-width: auto;
		min-height: auto;
	}

	> .head {
		position: relative;
		width: 88%;
		height: 7%;
		margin-bottom: -3px;
		z-index: 2;
		background-color: var(--gray-1);

		margin-right: auto;
		border-radius: 0.8rem 0.8rem 0 0;
		box-shadow:
			inset 0 2px 1px 0px var(--gray-0),
			-1px -2px 1px 0px var(--gray-2);
	}

	.cartridge-body {
		z-index: 1;
		height: 93%;
		border-radius: 0 0.8rem 0.8rem 0.8rem;
		box-shadow:
			inset 0px 2px 1px 0px var(--gray-0),
			inset -3px 0px 2px 0px rgba(var(--gray-3-rgb), 0.5),
			1px 0px 1px 1px var(--gray-2);
		background-color: var(--gray-1);
		padding: 1rem 0;

		.horizontal-lines {
			gap: 12%;
			width: 100%;
			height: 17%;
			flex-shrink: 0;

			> div:not(.title-container) {
				height: 100%;
				background-color: var(--gray-1);
				box-shadow:
					inset 0px 3px 4px 0px var(--gray-3),
					0px 1px 2px 0px var(--gray-0);
			}

			> .title-container {
				position: absolute;
				width: 80%;
				height: 170%;
				left: 50%;
				z-index: 3;
				background-color: var(--gray-1);
				transform: translate(-50%, -20%);
				padding: 1rem;
				border-radius: 5rem;
				top: 0;

				@media screen and (max-width: 640px) {
					height: 220%;
					padding: 0.7rem;
				}

				> .title {
					position: relative;
					width: 100%;
					height: 100%;
					border-radius: 5rem;
					padding: 1rem;
					box-shadow:
						inset 1px 3px 5px 0px var(--gray-3),
						inset -5px -12px 2px -10px var(--gray-0);

					> p {
						letter-spacing: -0.1rem;
						color: rgb(46, 46, 46);
						text-shadow:
							1px 1px 0px rgb(77, 77, 77),
							1px 0px 1px rgb(248, 248, 248);
					}

					> span {
						color: var(--gray-2);
						text-shadow:
							1px 1px 0px rgb(77, 77, 77),
							1px 0px 1px var(--gray-0);
					}
				}
			}
		}

		> .body {
			width: 100%;
			height: 80%;
			margin-top: 2.5rem;
			flex-shrink: 0;
			border-radius: 0.7rem;
			background-color: var(--gray-1);
			box-shadow: 0px 3px 1px 0px var(--gray-3);

			.image-frame {
				z-index: 4;
				width: calc(100% - 6rem);
				height: calc(100% - 3rem);
				flex-shrink: 0;
				padding: 0.6rem;
				border-radius: 0.7rem;
				background-color: var(--gray-1);
				box-shadow:
					1px 2px 2px 0px rgba(var(--gray-0-rgb), 0.5),
					inset 1px 1px 3px 0px var(--gray-3);

				@media screen and (max-width: 640px) {
					width: calc(100% - 4rem);
					height: calc(100% - 2rem);
				}

				> .thumbnail {
					width: 100%;
					height: 100%;
					box-shadow:
						inset 1px 1px 1px 0px white,
						0px 1px 1px 1px var(--gray-2);
					border-radius: 1rem;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: top center;
				}
			}

			> .edge {
				width: 3%;
				height: 80%;
				margin-top: auto;
				border-radius: 0.2rem 0.2rem 0.2rem 0;
				box-shadow:
					inset 2px 7px 7px -1px rgba(var(--gray-3-rgb), 0.6),
					0px 1px 3px -1px var(--gray-0);

				&.right {
					background-color: var(--gray-2);
					opacity: 60%;
					box-shadow:
						inset -2px 8px 8px -1px rgba(var(--gray-3-rgb), 1),
						0px 1px 3px -1px var(--gray-0);
				}
			}
		}

		> .tags {
			font-family: Tenada;
			font-weight: 300;
			margin-top: -2rem;

			@media screen and (max-width: 640px) {
				margin-top: -1.5rem;
			}

			> .tag {
				border-radius: 1rem;
				background-color: var(--gray-4);
				padding: 0.1rem 0.3rem;
				color: var(--gray-0);
				text-align: baseline;
				box-shadow:
					1px 1px 1px 0px rgba(var(--gray-0-rgb), 0.7),
					-1px -1px 1px -1px var(--gray-3);
			}
		}
	}
}

.filter-type {
	--text: #ff0;
	--shadow: red;

	> input[type="checkbox"] {
		appearance: none;
		width: 4rem;
		height: 4rem;
		border: 0.5rem solid #ff0;
		border-radius: 0.3rem;
		background-color: transparent;
		position: relative;
		cursor: pointer;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 6rem;
			height: 3rem;
			background-color: transparent;
			border: solid 1rem transparent;
			border-top: none;
			border-right: none;
			transform: translate(-45%, -110%) rotate(-45deg);
			opacity: 0;
			transition: opacity 0.3s ease;
			box-shadow: -0.1rem 0.3rem 0 0 rgb(92, 23, 23);
		}

		&:checked {
			background-color: transparent;
			&::after {
				opacity: 1;
				border-color: red;
			}
		}
	}
}

/* gameboy */

.gameboy-body {
	position: absolute;
}

.position-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

$transition: 0.5s ease-in-out;

.gameboy-frames {
	div,
	div::before,
	div::after,
	span {
		transition:
			background-color $transition,
			color $transition,
			border-color $transition,
			outline $transition,
			box-shadow $transition,
			text-shadow $transition;
	}

	.move-button div,
	.start-buttons div,
	.ab-buttons div {
		transition: none !important;
	}
}

.frame-top .top div,
.frame-bottom .top div {
	transition: box-shadow $transition;
}

.frame-top {
	position: relative;
	top: 24.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 20;

	> div {
		position: relative;
		overflow: hidden;
		width: 35.7rem;
		height: 25rem;

		> div {
			position: absolute;
			background-color: var(--frame);
			width: 100%;
			height: 100%;
			top: 91%;
			border-radius: 9%;
			box-shadow:
				inset 0px 1px 0px 0px rgba(150, 152, 190, 0.6),
				0px 0px 0.8px 1px var(--frame-dark);
		}

		&.top {
			width: 50.4rem;
			height: 15rem;
			top: 22.9rem;
			z-index: 21;

			> div {
				top: 89%;
				border-radius: 60%;
				box-shadow:
					inset 0 1px 1px 0 rgba(150, 152, 190, 0.6),
					0px 0px 1px 4px var(--body),
					0px -9px 1px -8px rgba(3, 11, 8, 0.8);
				outline: 1px solid black;
			}
		}
	}
}

.frame-side {
	position: relative;
	width: 3.4rem;
	height: 24rem;
	overflow: hidden;
	z-index: 19;

	&.right {
		transform: rotateY(180deg);
		left: 17.7rem;
		top: 23.4rem;
	}

	&.left {
		right: 17.7rem;
		bottom: 22.2rem;
	}

	> div {
		position: absolute;
		background-color: var(--frame);
		width: 3.1rem;
		height: 100%;
		right: 0;
		border-top-left-radius: 60% 100%;
		border-bottom-left-radius: 40% 9%;
		border: 1px solid rgba(150, 152, 190, 0.4);
		box-shadow: -2px 0px 1px -1px var(--frame-dark);
	}
}

.frame-bottom {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	bottom: 24.5rem;
	z-index: 22;

	> div {
		position: relative;
		overflow: hidden;

		&.top {
			width: 51rem;
			height: 20.1rem;
			bottom: 27.6rem;
			transform: scaleY(-1);
			z-index: 23;

			> div {
				box-shadow:
					inset 0 1px 1px 0 rgba(150, 152, 190, 0.6),
					0px 0px 1px 4px var(--body),
					0px -9px 1px -8px rgba(3, 11, 8, 0.8);
				outline: 1px solid rgba(245, 245, 245, 0.3);
			}
		}

		> div {
			position: absolute;
			background-color: var(--frame);
			width: 100%;
			height: 100%;
			z-index: 20;
			top: 88.4%;
			border-radius: 50%;
			border: 1px solid var(--frame-dark);
		}

		&.base {
			width: 38.4rem;
			height: 32rem;
			transform: rotateX(180deg);

			> div {
				top: 85%;
				border-radius: 13%;
				border: 1px solid var(--frame-dark);
				box-shadow:
					inset -1px 0px 0px 0px rgb(150, 152, 190, 0.4),
					inset 1px 0px 0px 0px rgb(150, 152, 190, 0.4),
					inset 0px 2px 1px -1px rgb(150, 152, 190, 0.6),
					2px -1px 1px -2px rgb(150, 152, 190, 0.6),
					0 -4px 1px -3px #bbbcc5;
			}
		}
	}
}
.body-left,
.body-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.body-side {
	width: 11rem;
	height: 26rem;
	background-color: var(--body);
	margin-bottom: 1rem;
	border-radius: 40% 0 0 2rem;

	&.left {
		margin-right: -4rem;
	}

	&.right {
		margin-left: -4rem;
		transform: scaleX(-1);
		z-index: 19;

		> .inner {
			border-top-left-radius: 80% !important;
		}

		> .corner {
			left: 1.7rem !important;
			z-index: 9;
			top: -0.9rem !important;

			&::before {
				content: none;
			}
		}
	}

	.inner {
		width: 13rem;
		height: 2.1rem;
		background-color: var(--body);
		position: relative;
		bottom: 1.9rem;
		left: 1.5rem;
		border-top-left-radius: 100%;

		&::before {
			content: "";
			width: 31rem;
			height: 19rem;
			border-radius: 50%;
			background-color: transparent;
			position: absolute;
			right: -1.3rem;
			bottom: 0.9rem;
			box-shadow:
				3rem 5rem 1px -6.5rem var(--body),
				12rem 7.5rem 0 -7rem var(--body);
		}

		&::after {
			content: "";
			width: 13rem;
			height: 4rem;
			background-color: var(--button);
			position: absolute;
			top: -2.5rem;
			left: -0.1rem;
			mix-blend-mode: darken;
			border-radius: 47% 0% 0% 8%;
			border-top: 3px solid var(--button-light);
			box-shadow:
				inset -50px 4px 6px 0px rgba(95, 98, 109, 0.1),
				inset 13px 0px 3px -10px var(--button-dark);
			transform: rotate(-4deg);
		}

		&.bottom {
			transform: scaleY(-1);
			top: 19.5rem;
			left: 1.8rem;

			&::before {
				right: -1rem;
				bottom: 1rem;
				box-shadow: 15rem 6.5rem 0 -6rem var(--body);
				height: 15rem;
			}
			&::after {
				display: none;
			}
		}
	}

	.shadow {
		width: 14rem;
		height: 4rem;
		background-color: transparent;
		position: relative;
		bottom: 8.5rem;
		left: 0.5rem;
		z-index: 21;
		border-radius: 20% 10% 62% 0%;
		transform: rotate(-14.1deg);
		box-shadow:
			-10px 13px 2px -12px var(--body),
			-7px 15px 2px -12px var(--body-shadow),
			-11px 18px 0px -12px var(--body-shadow);

		&.bottom {
			transform: scaleY(-1) rotate(-11deg);
			bottom: -19.3rem;
			width: 14rem;
			left: -0rem;
			border-radius: 20% 10% 39% 0%;
			background-color: var(--main-bg);
			box-shadow:
				-2px 9px 1px -6px var(--body-dark),
				-7px 11px 2px -9px rgba(var(--body-dark-rgb), 0.7),
				-6px 12px 0px -8px rgba(var(--body-shadow-rgb), 0.4);

			&.right {
				transform: rotate(-12deg) scale(-1);
				left: 49.7rem;
				bottom: -15.4rem;
				box-shadow:
					-5px 9px 1px -6px var(--body-dark),
					-7px 11px 2px -9px rgba(var(--body-dark-rgb), 0.7),
					-6px 12px 0px -8px rgba(var(--body-shadow-rgb), 0.4);
			}
		}
	}
}

.body-wing {
	position: relative;
	width: 10rem;
	height: 26rem;
	z-index: 20;
	margin-bottom: 1rem;

	&.right {
		transform: scaleX(-1) rotate(3deg);
		margin-left: -3.5rem;

		> .shadow {
			width: 14rem;
			height: 4rem;
			background-color: transparent;
			position: relative;
			bottom: 6.9rem;
			left: 6rem;
			z-index: 21;
			border-radius: 20% 10% 62% 0%;
			transform: rotate(-17.5deg);
			box-shadow:
				-10px 13px 2px -12px var(--body),
				-7px 15px 2px -12px var(--body-shadow),
				-11px 17px 2px -13px var(--body-shadow),
				-10px 18px 0px -12px var(--body-shadow);
		}

		> .corner {
			top: -0.9rem !important;

			&::before {
				bottom: 1.8rem !important;
				right: 2.9rem !important;
			}
		}
	}

	&.left {
		transform: rotate(3deg);
		margin-right: -3.5rem;
	}

	> .wing {
		position: absolute;
		background-color: var(--body);
		width: 4rem;
		height: 100%;
		right: 0;
		border-top-left-radius: 40% 100%;
		border-bottom-left-radius: 80% 15%;
		box-shadow:
			inset 3px -3px 3px -4px var(--body-shadow),
			inset 4px -2px 1px -5px var(--body-light),
			-6px -2px 2px -3px var(--body-shadow),
			-9px -23px 3px -17px var(--body-shadow),
			-3px -4px 0px 5px var(--body),
			-11px 7px 2px -5px rgba(var(--button-dark-rgb), 0.3),
			-16px 9px 0 -5px var(--button),
			-18px 8px 0px -6px rgba(126, 119, 115, 0.8);
	}
}

.corner {
	position: absolute;
	width: 4rem;
	height: 3.2rem;
	border-radius: 40% 70% 0 70%;
	background-color: var(--body);
	box-shadow: -14px -9px 1px -10px var(--body-shadow);
	left: 7.3rem;
	top: -0.8rem;

	&:before {
		content: "";
		width: 2rem;
		height: 4rem;
		background-color: var(--button);
		position: absolute;
		bottom: 2rem;
		right: 2.8rem;
		border-radius: 80% 0 0 10%;
		box-shadow: inset 8px -4px 1px -6px rgba(var(--button-dark-rgb), 0.5);
		transform: rotate(25deg);
		mix-blend-mode: darken;
	}
}

.body-frame {
	width: 44rem;
	height: 31rem;
	top: 5.5rem;
	border-radius: 20% 20% 0 0;
	box-shadow:
		inset 0px 15px 2px -14px rgba(var(--body-dark-rgb), 0.2),
		inset -0px 24px 3px -18px var(--body-shadow),
		inset -0px 33px 1px -25px rgba(var(--body-light-rgb), 0.6),
		inset -0px 41px 0px -30px var(--body-shadow);
}

.body-bottom {
	position: relative;
	width: 50rem;
	height: 20rem;
	top: 3.6rem;
	overflow: hidden;
	transform: scaleY(-1);

	.base {
		left: 50%;
		transform: translateX(-50%);
		width: 48rem;
		border-radius: 42%;
		top: 54%;
		box-shadow: 0px -37px 0px -34px var(--body-dark);
	}
}

.logo {
	position: absolute;
	top: 7.14rem;
	font-size: 1.1rem;
	border-radius: 3rem;
	padding: 0 0.8rem;
	height: 2.1rem;
	border: 3px solid var(--logo);
	box-shadow:
		inset 0 4px 1px -3px var(--body-shadow),
		0 1px 1px 0px rgba(var(--body-light-rgb), 0.6);

	> span {
		color: var(--logo);
		text-shadow:
			0px 1px 0px rgba(var(--body-light-rgb), 0.3),
			0px -1px 0px var(--body-dark);
		letter-spacing: 1.4px;
		font-family: "GongGothicMedium";
		vertical-align: top;
	}
}

.move-button {
	position: absolute;
	top: 20.8rem;
	left: 8.8rem;
	z-index: 50;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	pointer-events: none;

	> div {
		height: 2.4rem;
		border-radius: 0.3rem;
		background-color: var(--button);
		position: relative;

		&:not(.rect) {
			right: 8rem;
			width: 8rem;
			box-shadow:
				inset 0 -2px 1px 0px var(--button-dark),
				inset 0 3px 1px 0 var(--button-light),
				0 0px 1px 0px var(--button-dark),
				0 0px 0px 4px var(--button-hole),
				0 0px 1px 3px var(--frame-dark),
				3px 8px 4px 2px rgba(var(--body-dark-rgb), 0.7),
				-1px 1px 0px 4px rgba(var(--body-light-rgb), 0.5);
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;
			padding: 0.2rem;
			pointer-events: auto;

			> .tip {
				width: 0;
				height: 0;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 14px solid rgba(var(--button-shadow-rgb), 0.5);
				border-radius: 0.2rem;
				transform: rotate(90deg);
				cursor: pointer;

				&:first-child {
					transform: rotate(-90deg);
				}
			}
		}

		&.vertical {
			transform: rotate(90deg);
			right: 0;
			box-shadow:
				inset -3px 0px 1px -1px var(--button-dark),
				inset 3px 0px 1px -1px var(--button-light),
				0 0px 1px 0px var(--body),
				0 0px 0px 4px var(--button-hole),
				0 0px 1px 4px var(--frame-dark),
				-1px 0px 0px 4px rgba(var(--body-light-rgb), 0.5),
				8px 0px 4px 2px rgba(var(--body-dark-rgb), 0.7);
		}

		&.rect {
			width: 2.4rem;
			border-radius: 0;
			position: relative;
			background-color: var(--button);
			right: calc(8rem + 4rem + (2.4rem / 2));
			box-shadow:
				0px 18px 0px 0px var(--button),
				0px -9px 0px 0px var(--button);
			cursor: pointer;

			&::before {
				content: "";
				width: 1.7rem;
				height: 1.7rem;
				border-radius: 100%;
				background-color: var(--body-body);
				box-shadow:
					inset 0 14px 6px -6px var(--button-shadow),
					inset 0 -5px 4px -1px var(--button-light),
					0 0 1px 0px var(--button-light);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&::after {
				content: "";
				width: 0;
				height: 0;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 14px solid rgba(var(--button-shadow-rgb), 0.5);
				border-radius: 0.2rem;
				position: absolute;
				transform: rotate(180deg);
				top: 3.5rem;
				left: 0.5rem;
			}
		}
	}
	&:hover {
		top: 21rem;

		> div {
			box-shadow:
				inset 0 -2px 1px 0px var(--button-dark),
				inset 0 3px 1px 0 var(--button-light),
				0 1px 1px 0px var(--button-dark),
				0 -1px 1px 3px rgba(var(--darkest-point-rgb), 0.3),
				0 -2px 0px 4px var(--button-hole),
				3px 3px 4px 2px rgba(var(--body-dark-rgb), 0.7),
				-2px 0px 0px 3px rgba(var(--body-light-rgb), 0.3);

			&.vertical {
				box-shadow:
					inset -3px 0px 1px -1px var(--button-dark),
					inset 3px 0px 1px -1px var(--button-light),
					0 0px 0px 0px var(--body),
					-2px 0px 2px 1px rgba(var(--darkest-point-rgb), 0.3),
					-2px 0px 0px 4px var(--button-hole),
					-1px 0px 1px 4px rgba(var(--darkest-point-rgb), 0.6),
					-3px 0px 0px 4px rgba(var(--body-light-rgb), 0.5),
					3px 0px 4px 2px rgba(var(--body-dark-rgb), 0.7);
			}

			&.rect {
				box-shadow:
					0px 18px 0px 0px var(--button),
					0px -9px 0px 0px var(--button);
			}
		}
	}
}

.start-buttons {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 26;
	left: 10.2rem;
	top: 29rem;
	transform: rotate(10deg);

	> .border {
		width: 6.5rem;
		height: 2.2rem;
		border-radius: 3rem;
		border: 0px solid var(--body-dark);
		box-shadow:
			inset 1px 1px 5px 1px var(--body-dark),
			1px 0px 1px 0px var(--body-light),
			1px 2px 4px 0px rgba(var(--body-light-rgb), 0.3),
			1px 1px 0px 0px rgba(var(--body-light-rgb), 0.6);
		margin-bottom: 1.25rem;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;

		&:last-child {
			margin-left: 1.25rem;
		}

		> div {
			width: 1.7rem;
			height: 1.7rem;
			border-radius: 100%;
			background-color: var(--button);
			margin-top: 0.17rem;
			box-shadow:
				inset 1px 2px 3px 0px var(--button-light),
				inset -1px -1px 0px 0px var(--button-dark),
				0px 0px 0px 1px rgba(var(--darkest-point-rgb), 0.1),
				2px 8px 3px 1px rgba(var(--body-dark-rgb), 0.6),
				0 1px 2px var(--body-dark),
				1px 1px 2px 2px var(--darkest-point);
			cursor: pointer;

			&:hover {
				width: 1.6rem;
				height: 1.6rem;
				box-shadow:
					inset 1px 2px 3px 0px var(--button-light),
					inset -1px -1px 0px 0px var(--button-dark),
					2px 5px 3px 1px rgba(var(--body-dark-rgb), 0.6),
					0 2px 2px var(--body-dark),
					0px 0px 2px 2px var(--darkest-point);
			}
		}

		> span {
			color: var(--body);
			text-shadow:
				0px -1px 0px rgba(var(--body-light-rgb), 0.4),
				0px 1px 0px var(--body-dark);
			margin-left: 0.9rem;
			font-weight: 600;
			margin-top: 0.2rem;
			font-size: 0.9rem;
			font-family: "GongGothicMedium";
		}
	}
}

.ab-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	position: absolute;
	gap: 1.9rem;
	top: 16.6rem;
	left: 59.5rem;
	z-index: 29;

	> div {
		width: 3.8rem;
		height: 3.8rem;
		background-color: var(--button);
		border-radius: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		font-size: 1.8rem;
		color: rgba(var(--button-shadow-rgb), 0.9);
		box-shadow:
			inset 0px -1px 1px 2px var(--button-dark),
			inset 0px 3px 0px 0px var(--button-light),
			0 0 1px 1px var(--frame-dark),
			3px 8px 7px 0px rgba(var(--body-dark-rgb), 0.6);
		cursor: pointer;

		> span {
			margin-right: 0.5rem;
			margin-top: 0.25rem;
			text-shadow: 1px 1px 1px var(--button-light);
			font-family: "GongGothicMedium";
			font-size: 2rem;
		}

		&:first-child {
			margin-top: 4.4rem;
		}

		&:hover {
			height: 3.7rem;
			margin-top: 0.1rem;
			box-shadow:
				inset 0px 0px 1px 2px var(--button-dark),
				inset 0px 3px 0px 0px var(--button-light),
				0px -1px 1px 1px var(--darkest-point),
				0px 4px 5px 0px rgba(var(--body-dark-rgb), 0.6);

			&:first-child {
				margin-top: 4.5rem;
			}

			> span {
				margin-top: 0.36rem;
			}
		}
	}
}

.speaker {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 8.2rem;
	bottom: 17.4rem;
	z-index: 29;
	gap: 0.8rem;
	transform: rotate(-13deg);

	> div {
		width: 7.5rem;
		height: 0.5rem;
		border-radius: 1rem;
		border: 1px solid var(--button-hole);
		box-shadow:
			inset 1px -1px 3px 2px var(--body-dark),
			inset 0 -1px 0px 1px var(--darkest-point),
			-1px 2px 0px -1px rgba(var(--body-light-rgb), 0.7);

		@for $i from 2 through 5 {
			&:nth-child(#{$i}) {
				margin-right: ($i - 1) * 0.7rem;
				width: 7.5rem + (if($i % 2 == 0, 0.1rem, 0));
			}
		}
	}
}

.power-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	top: 12.5rem;
	right: 12.2rem;
	z-index: 99;

	.power {
		width: 1rem;
		height: 1rem;
		border-radius: 100%;
		background-color: var(--body);
		box-shadow:
			inset 0px 1px 3px 1px var(--body-dark),
			0px 0px 2px 1px rgba(var(--body-light-rgb), 0.3);

		&.on {
			background-color: greenyellow;
			box-shadow:
				inset 0px 1px 2px 1px var(--body-dark),
				inset 0px 0px 0px 1px rgba(var(--body-dark-rgb), 0.3),
				0px 0px 2px 1px rgba(var(--body-light-rgb), 0.3),
				1px 2px 2px -1px var(--body-light);
		}
	}

	> span {
		color: var(--body);
		text-shadow:
			0px -1px 0px rgba(var(--body-light-rgb), 0.4),
			0px 1px 0px var(--body-dark);
		margin-left: 0.7rem;
		font-weight: 600;
		letter-spacing: 0.5px;
		margin-top: 0.4rem;
		font-size: 0.9rem;
		font-family: "GongGothicMedium";
	}
}
