$breakpoint-mobile: 640px;
$breakpoint-tablet-min: 641px;
$breakpoint-tablet-max: 1024px;

.tiles {
	width: 90vmin;
	aspect-ratio: 5 / 4;
}

.pool {
	z-index: 30;
	position: relative;
	display: grid;
	place-items: center;
	grid-template-areas: "pool";
	width: 65vmin;
	height: 50vmin;
	border-radius: 5px;
	text-transform: uppercase;
	overflow: hidden;
	background: var(--color-pool);
	color: var(--color-noodle);
	border: 5vmin solid white;
	transform: perspective(500px) rotateX(30deg);
	box-shadow:
		rgb(181, 233, 230) 0vmin 1vmin 0vmin 1vmin inset,
		hsla(0 0% 0% / 0.05) 2vmin 2vmin 2vmin -2vmin,
		rgb(181, 233, 230) 0vmin 0.8vmin 0vmin -0.5vmin,
		rgba(34, 118, 173, 0.9) 5vmin 5vmin 12vmin 1vmin inset,
		hsla(0 0% 0% / 0.1) 5vmin 5vmin 10vmin 1vmin inset,
		hsl(0 0% 0% / 0.1) 0 3vmin 1vmin 1vmin inset;

	&::before {
		content: "";
		width: 90%;
		height: 90%;
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: var(--color-pool);
		background-image: linear-gradient(90deg, var(--color-tiles) 2%, transparent 0), linear-gradient(var(--color-tiles) 2%, transparent 0);
		background-size: 20% 20%;
		background-position: left top;
		filter: url(#turb);
		transition: opacity 0.5s ease;
		opacity: 0.6;
		pointer-events: none;
	}

	.text {
		width: 100%;
		text-align: center;
	}

	.char {
		position: relative;
		transform: perspective(500px) rotateZ(30deg);
		flex-shrink: 0;
		z-index: 10;
		will-change: transform;
		width: 10rem;
		height: auto;
		filter: url(#turb);

		&.ducky,
		&.javascript {
			width: 6rem;
			filter: url(#turb) hue-rotate(20deg);
		}

		@media screen and (max-width: $breakpoint-mobile) {
			width: 6rem;

			&.ducky,
			&.javascript {
				width: 4rem;
				filter: url(#turb) hue-rotate(20deg);
			}
		}
	}

	.shadow {
		width: 6rem;
		height: 6rem;
		background-color: rgba(0, 78, 156, 0.3);
		position: relative;
		filter: blur(9px);
		opacity: 0.3;
		z-index: 1;
		mix-blend-mode: darken;
		pointer-events: none;
		transform: perspective(500px) rotateX(30deg);

		@media screen and (max-width: $breakpoint-mobile) {
			width: 3rem;
			height: 3rem;
		}
	}
}

.pool > * {
	grid-area: pool;
}

.shore-overlay {
	border-bottom: 5px solid white;
	box-shadow: 10px 13px 3px 0px rgba(163, 94, 30, 0.2);
	width: 125vw;
	height: 35vh;
	border-radius: 30%;
	position: relative;
	top: -10vh;
	right: 10vw;
	background: linear-gradient(
		181deg,
		rgb(83, 215, 255) 0%,
		rgb(83, 215, 255) 65%,
		rgba(140, 242, 255, 0.9) 75%,
		rgba(207, 247, 255, 0.2) 85%,
		rgb(255, 255, 255) 100%
	);
	filter: url(#shore);
	pointer-events: none;
	transform: rotate(3deg);
}
