@import "tailwindcss";

@import "./styles/animations.css";

@font-face {
	font-family: "DungGeunMo";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "NanumBarunpen";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Tenada";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@theme {
	--font-dunggeunmo: DungGeunMo, sans-serif;
	--font-nanumbarunpen: NanumBarunpen, sans-serif;
	--font-tenada: Tenada, sans-serif;

	--text-xxxxs: 0.5rem;
	--text-xxxxs-line: 0.7rem;
	--text-xxxs: 0.7rem;
	--text-xxxs-line: 0.9rem;
	--text-xxs: 1.2rem;
	--text-xxs-line: 1.6rem;
	--text-xs: 1.3rem;
	--text-xs-line: 2.08rem;
	--text-s: 1.4rem;
	--text-s-line: 2.24rem;
	--text-m: 1.5rem;
	--text-m-line: 2.56rem;
	--text-md: 1.6rem;
	--text-md-line: 2.6rem;
	--text-lg: 1.7rem;
	--text-lg-line: 2.7rem;
	--text-xl: 1.9rem;
	--text-xl-line: 3rem;
	--text-xxl: 2.2rem;
	--text-xxl-line: 3rem;
	--text-xxxl: 2.8rem;
	--text-xxxl-line: 3rem;

	--color-gray-1: var(--gray-1);
	--color-gray-2: var(--gray-2);
	--color-body: var(--body);
	--color-gray-4: var(--gray-4);
	--color-theme-yellow: var(--theme-yellow);
	--color-theme-sand: var(--theme-sand);
	--color-theme-orange: var(--theme-orange);
	--color-theme-blue: var(--theme-blue);

	--breakpoint-md: 641px;
	--breakpoint-lg: 1025px;

	--animate-slide-down: slide-down 2s ease-in-out infinite;
	--animate-float: float 10s ease-in-out infinite;
	--animate-card-fade-up: card-fade-up 1s ease-in-out 2.1s forwards;
	--animate-section-fade-up: section-fade-up 1s ease-in-out 0.3s forwards;
}

:root {
	--frame: #242b29;
	--frame-dark: rgb(3, 11, 8);

	--body: rgb(218, 166, 24);
	--body-shadow: rgb(238, 206, 62);
	--body-shadow-rgb: 238, 206, 62;
	--body-light: rgb(250, 246, 48);
	--body-light-rgb: 250, 246, 48;
	--body-dark: rgb(150, 107, 15);
	--body-dark-rgb: 150, 107, 15;
	--button: #ddddd8;
	--button-light: #e7ebec;
	--button-dark: rgb(167, 162, 160);
	--button-dark-rgb: 167, 162, 160;
	--button-shadow: rgb(167, 169, 179);
	--button-shadow-rgb: 167, 169, 179;
	--button-hole: rgb(60, 31, 3);
	--button-hole-rgb: 60, 31, 3;
	--darkest-point: rgb(29, 16, 10);
	--darkest-point-rgb: 29, 16, 10;

	--main-bg: rgb(134, 211, 255);
	--gray-1: #b0acb4;
	--gray-2: #757177;
	--gray-4: rgb(46, 46, 46);
	--dark-red: rgb(92, 23, 23);

	--color-pool: rgb(62, 210, 255);
	--color-tiles: hsla(207, 96%, 34%, 0.5);

	--theme-orange: #ff7300;
	--theme-yellow: rgb(255, 231, 10);
	--theme-blue: var(--color-pool);
	--theme-sand: rgb(255, 215, 151);
	--theme-sand-dark: rgb(163, 94, 30);
	--theme-sand-shadow: rgb(134, 52, 14);
	--theme-navy: #000080;
}

body,
html {
	background-color: var(--main-bg);
	width: 100%;
	min-height: 100%;
	height: auto;
	/* overflow-x: hidden;
	overflow-y: auto; */
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-smooth: never;
	-webkit-font-smoothing: none;
	font-weight: 400;
	scrollbar-width: none;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	overflow-y: auto;
}

::-webkit-scrollbar {
	display: none;
}

section {
	padding-left: 15rem;
	padding-right: 15rem;
}

@media screen and (max-width: 1024px) {
	section {
		padding-left: 5rem;
		padding-right: 5rem;
	}
}

@media screen and (max-width: 640px) {
	section {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

section.full-section {
	padding-left: 0;
	padding-right: 0;
}

.fade-up {
	animation: fade-up 1.3s ease-in-out forwards;
}

.fade-left {
	animation: fade-left 1.5s ease-in-out forwards;
}

.fade-up-section,
.fade-left-section {
	opacity: 0;
}

.pin-spacer {
	overflow: hidden !important;
}

/* canvas {
	transition: opacity 5s ease-in-out;
} */
