@import "tailwindcss";

@import "./styles/animations.css";

@font-face {
	font-family: "DungGeunMo";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "NanumBarunpen";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Tenada";
	src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@theme {
	--font-dunggeunmo: DungGeunMo, sans-serif;
	--font-nanumbarunpen: NanumBarunpen, sans-serif;
	--font-tenada: Tenada, sans-serif;

	--text-xxxxs: 0.5rem;
	--text-xxxxs-line: 0.7rem;
	--text-xxxs: 0.7rem;
	--text-xxxs-line: 0.9rem;
	--text-xxs: 1.2rem;
	--text-xxs-line: 1.6rem;
	--text-xs: 1.3rem;
	--text-xs-line: 2.08rem;
	--text-s: 1.4rem;
	--text-s-line: 2.24rem;
	--text-m: 1.5rem;
	--text-m-line: 2.56rem;
	--text-md: 1.6rem;
	--text-md-line: 2.6rem;
	--text-lg: 1.7rem;
	--text-lg-line: 2.7rem;
	--text-xl: 1.9rem;
	--text-xl-line: 3rem;
	--text-xxl: 2.2rem;
	--text-xxl-line: 3rem;
	--text-xxxl: 2.8rem;
	--text-xxxl-line: 3rem;

	--color-gray-1: var(--gray-1);
	--color-gray-2: var(--gray-2);
	--color-body: var(--body);
	--color-gray-4: var(--gray-4);

	--breakpoint-md: 641px;
	--breakpoint-lg: 1025px;

	--animate-slide-down: slide-down 2s ease-in-out infinite;
}

:root {
	--frame: #242b29;
	--frame-dark: rgb(3, 11, 8);

	--body: rgb(79, 82, 147);
	--body-shadow: rgb(117, 122, 179);
	--body-shadow-rgb: 117, 122, 179;
	--body-light: rgb(215, 218, 226);
	--body-light-rgb: 215, 218, 226;
	--body-dark: rgb(42, 40, 80);
	--body-dark-rgb: 42, 40, 80;
	--button: #c7cace;
	--button-light: #dfe4e6;
	--button-dark: rgb(146, 140, 137);
	--button-dark-rgb: 146, 140, 137;
	--button-shadow: rgb(151, 154, 172);
	--button-shadow-rgb: 151, 154, 172;
	--button-hole: rgb(38, 36, 70);
	--button-hole-rgb: 38, 36, 70;
	--darkest-point: rgb(3, 11, 8);
	--darkest-point-rgb: 3, 11, 8;

	--main-bg: rgb(134, 211, 255);
	--gray-1: #b0acb4;
	--gray-2: #757177;
	--gray-4: rgb(46, 46, 46);
	--dark-red: rgb(92, 23, 23);

	--color-pool: rgb(62, 210, 255);
	--color-tiles: hsla(207, 96%, 34%, 0.5);

	--theme-orange: #ff7300;
	--theme-yellow: rgb(255, 231, 10);
	--theme-blue: var(--color-pool);
	--theme-sand: rgb(255, 215, 151);
	--theme-sand-dark: rgb(163, 94, 30);
	--theme-sand-shadow: rgb(134, 52, 14);
}

html {
	font-size: 62.5%;
}

body,
html {
	background-color: var(--main-bg);
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	/* width: 100%;
	height: 100%;
	overflow: hidden; */
	margin: 0;
	padding: 0;
}

/* ::-webkit-scrollbar {
	display: none;
} */

section {
	padding-left: 15rem;
	padding-right: 15rem;
}

section:first-child {
	background-color: var(--main-bg);
}

@media screen and (max-width: 640px) {
	section {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

@media screen and (max-width: 1024px) {
	section {
		padding-left: 6rem;
		padding-right: 6rem;
	}
}

section.full-section {
	padding-left: 0;
	padding-right: 0;
}

.fade-up {
	animation: fade-up 1.3s ease-in-out forwards;
}

.fade-left {
	animation: fade-left 1.5s ease-in-out forwards;
}

.fade-up-section,
.fade-left-section {
	opacity: 0;
}
